*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-image:  url(../photo/../photo/indieground-vintagepaper-textures-05.jpg);
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
 
}
input{
    font-family:'Roboto', sans-serif ; 
    font-size: 16px;
}
#announcement{
    height: 4vh;
    background-image: linear-gradient(to right, rgba(114, 59, 33, 0.521), rgb(162, 38, 38), rgba(54, 44, 44, 0.663)), url(../photo/logo_background.png);
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: left center;
    justify-content: center;
    background-size: cover;
    background-position: left center;
}


.menu{
    position: relative;
    width: 100vw;
    background-color: rgb(22, 85, 85);
    display: flex;
    flex-direction: column;
    

}

#upper_heading, h1, #lower_heading, nav, .nav_item,.icon, #search_bar,#three_bar_dropdown_icon,.arrow, .user_image {
    display: flex;
    justify-content: center;
    align-items: center;
}



#upper_heading{
    width: 100vw;
    height: 12vh;
}

h1{
    width: 300px;
    height: 60px;
    border-radius: 100% 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    background-image:radial-gradient(rgba(47, 40, 40, 0.431), rgba(255, 255, 255, 0.363)), url(../photo/istockphoto-1365590841-612x612.jpg) ;
    background-size: cover;
    background-position: center;
    color: #e0d8ad;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3);
    

}
#three_bar_dropdown_icon{
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    gap: 5px;
    display: none;
    
}

#mid_bar, #three_bar_dropdown_icon::before, #three_bar_dropdown_icon::after{
    width: 30px;
    height: 3px;
    background-color: white;
}
#three_bar_dropdown_icon::before, #three_bar_dropdown_icon::after{
    content: "";
    
    

}


#lower_heading{
    height: 6vh;
    width: 100vw;
    display: none;
    font-family: 'Playfair Display', serif;
    
    
    
}
#head_nav{
    width: 68%;
    height: 100%;
    gap: 40px;
    justify-content: flex-end;
    
}

.nav_item{
    height: 80%;
    width: fit-content;
    font-size: 20px;
    color: antiquewhite;
    padding-inline: 5px;
    
}

#phone_categories{
    width: fit-content;
    padding-left: 2px;
    
}


.bar::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 1px;
    transform:  translateX(1px) rotate(45deg);
    background-color: antiquewhite;
}

.right_bar{
    display: inline-block;
    height: 10px;
    width: 1px;
    transform: translateX(1px) rotate(-45deg);
    background-color: antiquewhite; 
}

#search_cart{
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    
    

}

#search_cart form{
    display: flex;
}
#search_tool{
    flex-grow: 1;
}




.icon{
    width: min(60px , calc(93% / 3))
}
#search, img{
    width: 30px;
    height: 30px;
}
#cart{
    position: relative;
}
#cart_item{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}


    




.filter{
    height: 220px;
    overflow-y: hidden;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif; 
}




#collapse{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}


.filter h2{
    height: 20%;
    text-align: center;
    color: rgb(231, 203, 169)
}

ul{
    height: 80%;
    list-style: none;
    padding-left: 50px;
    overflow-y: auto;
    color: antiquewhite;
}

a:any-link{
    text-decoration: none;
    color: antiquewhite;
}
a:visited{
    text-decoration: none;
    color: antiquewhite;
}


ul::-webkit-scrollbar{
    width: 5px;
    
}

ul::-webkit-scrollbar-thumb{
    background-color: rgba(25, 136, 136, 0.705);
    border-radius: 100vh;

}
ul::-webkit-scrollbar-thumb:hover{
    background-color: rgba(25, 136, 136, 0.98);
    border-radius: 100vh;

}

.filter ul li:hover, .filter ul li:hover a{
    color: white;
    
}


#search_tool{
    width: 40%;
    height: 51%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-inline: 10px;
    border: none;
    margin-right: 10px;
    
}

/*Css for the body*/
main{
    display: flex;
    flex-direction: column;
    gap: 40px;}

#carousel{
    
    height: 70vh;  
}

#element{
    display: flex;
    overflow-x: hidden;
    position: relative;
    height: 90%;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    
}

#carousel_nav{
    height: 10%;
    width: 100%;
    gap: 5px; 
}

.link_container{
    width: 15px;
    background-color: white;
    height: 15px;
    border-radius: 50%;
}

.link_container:first-child{
    background-color: black;
    
}


.element{
    width: 100%;
    height: 100%;

}
video{
    width: 100%;
    height: 100%;
}

.text_box{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: rgba(59, 57, 57, 0.331);
    left: calc((100vw - 300px)/2);
    top: calc((63vh - 100px)/2);
}

.homepage_category{
    width: 100%;
    height: fit-content;
    
    

}

.title{
    height: 10%;
    padding-left: 30px;
    font-size: 25px;
    width: 95%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
    
    
    
}

.title a{
    color: black;
}

.book_container{
    height: fit-content;
    display: flex;
    align-items: center;
    
    
    
}
.arrow{
    height: 100%;
    width: 10%;
    
    
}

#left, #right{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

#left img, #right img{
    display: block;
    width: 30px;
    height: 30px;
}

.fig_container{
    height: fit-content;
    width: 80%;
    overflow-x: hidden;
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
    scroll-snap-type: x mandatory;
    
    
}

#discounted_books{
    gap: 20px;
}


.fig_container figure{
    height: fit-content;
    width: 180px;
    flex-shrink: 0;
    position: relative;
    overflow-y: hidden;

}

.image{
    width: 180px;
    height: auto;
}
.fig_container figure:nth-child(n){
    scroll-snap-align: start;
    scroll-snap-stop: always;
} 

figure:hover .add_to_cart_button{
    bottom: 0;
}



.add_to_cart_button{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    bottom: -60px;
    width: 100%;
    font-size: 21px;
    text-align: center;
    color: antiquewhite;
}

#customer_review{
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: #ADA3A4;
    
}

.rating_container{
    width: 460px;
    display: flex;
    
    
}
#ratings{
    width: 80%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.customer_rating{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    gap: 5px;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  
}
.customer_rating h2{
    text-align: center;
}
.customer_comment{
    width: calc(95vw - 460px);
    padding-top: 10px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    

}

#comment_container{
    width: 100%;
    height: calc((30vh - 10px - 42px));
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    
    
}

.comment{
    flex-shrink: 0;
    width: 100%;
    height: fit-content;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


.read_more-less{
    height: 42px;
    display: flex;
    align-items: center;
    
}

.read_more-less button{
    background-color: transparent;
    text-decoration: underline;
    border: none;
    visibility: hidden;
    
}

footer{
    background-color: rgb(22, 85, 85);
    height: 20vh;
    margin-top: 30px;
    display: flex;

}

#Newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid black;
    width: 400px;
    height: 100%;
    padding-inline: 10px;
    align-items: center;
    gap: 20px;
    font-family: 'Playfair Display', serif;
    
}

#Email_bar{
    height: 35px;
    width: 300px;
}
#Newsletter label{
    font-size: 20px;
}

#Email_submit{
    display: flex;
    gap: 5px;
}
#Submitting{
    width: 30px;
    height: 30px;
}

#FAQ_and_Payment{
    width: calc(100vw - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Playfair Display', serif;
}

.footer_nav{
    gap: 50px;
    flex-wrap: wrap;
    
    
}
.footer_link:hover{
    color: white;
}























@media screen and (min-width: 1500px){
    #head_nav{
        padding-right: 5%;
    }
    #customer_review{
        height: 15vh;
    }
    
}
@media screen and (max-width: 960px) {

    #three_bar_dropdown_icon{
        display: flex;
    }
    #three_bar_dropdown_icon:hover{
        background-color: teal;
    }
    #logo_container{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        padding-left: 50px;
    }
    
    
    #phone_categories{
        margin-left: 30px;
    }
    #lower_heading{
        height: auto;
        flex-direction: column-reverse;
        gap: 10px;
        padding-bottom: 10px;
        
        
    }
    #head_nav{
        width: 100%;
        flex-direction: column;
        gap: 10px;
        
    }

    #search_cart{
        width: 100%;
        
    }
    #search_tool{
        width: 180px;
    }
    img, #search{
        height: 20px;
        width: 20px;
    }
    #cart_item{
        width: 10px;
        height: 10px;
        font-size: 10px;

        
    }
    #categorical{
        padding-right: 20px;
    }
    .icon{
        width: 30px;

    }
    .nav_item{
        font-size: 18px;
    }

    #customer_review{
        flex-direction: column;
        height: 60vh;

    }
    .rating_container{
        width: 100%;
        height: 80vh;
    }
    .customer_comment{
        width: 100%;
    }
    footer{
        flex-direction: column;
        height: 30vh;
    }

    #Newsletter{
        width: 100%;
        height: 50%;
        border-right: none;
        border-bottom: 2px solid black;
        gap: 10px;
    }

    #FAQ_and_Payment{
        width: 100%;
        padding-left: 10px;
        height: 50%;
    }

    
}

@media screen and (min-width: 701px){

.nav_item:hover, .icon:hover{
    background-color: teal;
    transform: scale(1.2,1.2);
    transition: 0.2s;
    
}  
}
    


@media screen and (max-width: 700px){
    
    .nav_item:not(#categorical):hover, .icon:hover{
        background-color: teal;
        transform: scale(1.2,1.2);
    } 
    #collapse{
        display: none;
    }

    #categorical{
        width: 100%;
        padding-right: 20px;
    }

    .collapsed_categories{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #category_list{
        padding-left: 20px;
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 5px;
        font-family: 'Times New Roman', Times, serif;

    }

    #category_list li{
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: hidden;
        
    }

    


    #phone_categories:hover{
        background-color: teal;
        transform: scale(1.2,1.2);
    }

    .list{
        display: none;
        height: 110px;
          
    }

    .list li{
        width: fit-content;
        margin-bottom: 2px;
    }

    .list li:hover{
        background-color: teal;
        transform: scale(1.2,1.2);
    }

    
    .category_name{
        width: 80px;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        
        
        
    }
    .category_name:hover{
        background-color: teal;
        transform: scale(1.2,1.2);
        margin-left: 10px;
        
    }
    .name_bottom_border{
        width: 95%;
    }

    
    
  
}

@media screen and (max-width: 500px){
    
    #logo_container{
        justify-content: flex-start;
        padding-left: 20px;
    }
    h1{
        font-size: 18px;
        width: 150px;
        height: 50px;
        
    }
    .book_container{
        padding-right: 8px;
        padding-left: 12px;
    }

    .book_container .arrow{
        display: none;
        
    }

    .fig_container{
        width: 100%;
        overflow-x: auto
        
    }
    .fig_container::-webkit-scrollbar{
        width: 3px;
        
    }
    
    .fig_container::-webkit-scrollbar-thumb{
        background-color: rgba(25, 136, 136, 0.705);
        border-radius: 100vh;

    
    }
    .fig_container::-webkit-scrollbar-thumb:hover{
        background-color: rgba(25, 136, 136, 0.98);
        border-radius: 100vh;
    
    }
    
    .filter ul li:hover, .filter ul li:hover a{
        color: white;
        
    }
    #Newsletter h2{
        font-size: 20px;
    }

  
    
    
    

}
